* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.frnd__req__flexor {
  display: flex;
  justify-content: center;
  align-items: center;
}
.friend__request__parent__container {
  display: flex;
  flex-direction: column;
}
.friend__request__container {
  margin-top: 140px;
  display: block;
  color: var(--font__color);
  background-color: #18191a;
  border-top: 2px solid var(--border__bottom);
}
.sidebar__friend__req__container {
  background-color: #242526;
  width: 100%;
  max-height: 140px;
  border-right: 2px solid #3e4042;
}
.sidebar__friend__req__container__header {
  justify-content: space-between;
  font-size: 30px;
  padding: 10px 4%;
  font-weight: 700;
}
.types__buttons {
  justify-content: flex-start;
  overflow-x: auto;
  padding: 20px;
}
.sidebar__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 25px;
  padding: 6px 10px;
  margin: 0 10px;
  font-size: 18px;
  min-width: 200px !important;
  cursor: pointer;
  background-color: #4d4d4d;
}
.sidebar__buttons:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.sidebar__friend__req__container__header > .button__logo__container {
  margin-right: 0;
}

.button__logo__container {
  margin-right: 15px;
  border-radius: 50%;
  padding: 7px;
  background-color: #a3a3a3;
}
.button__logo__container > .MuiSvgIcon-root {
  width: 22px;
  height: 22px;
}
.sidebar__buttons__isActive {
  background-color: rgba(255, 255, 255, 0.1);
}
.req__displayer__container {
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100vh - 282px);
  overflow-y: auto;
}
.element__just__start {
  justify-content: flex-start !important;
}

.req__holder {
  padding: 20px 10px;
  width: 100%;
  justify-content: center;
  padding: 5px;
  background-color: #242526;
  border: 1px solid #3e4042;
}
.req__image__container {
  height: 100px;
  width: 100px;
  margin-right: 10px;
}
.req__image__container > img {
  border-radius: 50%;
}
.no__Profil__IMG {
  background-color: #6e6e6e;
  border-radius: 50%;
  padding: 15px;
  height: 100px;
  width: 100px;
}
.no__Profil__IMG > .MuiSvgIcon-root {
  width: 100% !important;
  height: 100% !important;
}
.info__and__buttons {
  align-self: flex-start;
  margin-left: 5px;
}
.user__name {
  margin: 10px 0;
  font-size: 22px;
  font-weight: 600;
}
.two__multi__use__button {
  display: flex;
}
.two__multi__use__button > .multi__use__button {
  width: 100px;
  margin-right: 10px;
}
.multi__use__button {
  width: 200px;
  cursor: pointer;
  text-align: center;
  padding: 5px 0;
  background-color: #2d88ff;
  border-radius: 10px;
}
.loader__profile__image {
  justify-content: center;
}
.no__req {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.no__ele {
  margin-left: -10px;
}
@media only screen and (max-width: 480px) {
  .no__req {
    flex-direction: column;
  }
  .no__ele {
    margin-left: 0;
  }
}
@media only screen and (min-width: 481px) {
  .no__ele {
    margin-left: -25px;
    font-size: 30px;
  }
}
@media only screen and (min-width: 869px) {
  .friend__request__container {
    margin-top: 59px;
  }
  .req__displayer__container {
    grid-template-columns: auto auto;
    /* height: calc(100vh - 59px) !important; */
  }
}

@media only screen and (min-width: 849px) {
  .friend__request__container {
    display: flex;
    flex-direction: row;
  }
  .no__ele {
    margin-left: 50px;
  }
  .sidebar__friend__req__container {
    width: 30%;
    max-height: 100%;
  }
  .req__displayer__container {
    width: 70%;
  }
  .types__buttons {
    flex-direction: column;
    padding: 0;
  }
  .one__element__only {
    grid-template-columns: auto !important;
    justify-content: flex-start;
  }
  .sidebar__buttons {
    width: 95%;
    border-radius: 0;
    margin: 2px;
    background-color: transparent;
  }
  .sidebar__buttons__isActive {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .req__holder {
    flex-direction: column;
  }

  .req__displayer__container {
    margin: 30px 5%;
    display: grid;
    grid-gap: 5%;
    justify-content: center;
    grid-template-rows: max-content;
    align-items: flex-start;
    height: calc(100vh - 119px);
  }
  .user__name {
    text-align: center;
  }
  .req__image__container {
    height: 218px;
    width: 218px;
    margin-right: 0;
  }
  .req__image__container > img {
    border-radius: 0%;
  }
  .no__Profil__IMG {
    height: 218px;
    width: 218px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
  }
  .no__Profil__IMG > .MuiSvgIcon-root {
    width: 80px !important;
    height: 80px !important;
    background-color: #838383;
    padding: 10px;
    border-radius: 50%;
  }
  .info__and__buttons {
    align-self: center;
    width: 100%;
    margin-left: 0;
  }
  .two__multi__use__button {
    flex-direction: column;
  }
  .multi__use__button {
    width: 100% !important;
    margin: 5px 0;
  }
}
@media only screen and (min-width: 1150px) {
  .req__displayer__container {
    grid-template-columns: auto auto auto;
    grid-template-rows: max-content;
  }
}
